/* 1. Evenly Spaced Row */
.container {
    display: flex;
    justify-content: space-evenly;
}

/* 2. Centered Vertical Stack */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* 3. Bottom-Aligned Row */
.container {
    display: flex;
    align-items: flex-end;
}

/* 4. Wrapping Card Grid */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* 5. Wrapped Rows, Spaced Apart  */
.container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

/* 6. Navbar Pattern */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 7. Reversed Order Row */
.container {
    display: flex;
    flex-direction: row-reverse;
}

/* 8. Centered Column, Spaced Items */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* 9. Evenly Gapped Row, Left-Packed */
.container {
    display: flex;
    gap: 20px;
}

/* 10. Right-Aligned, Top-Packed Wrap */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
}

/* 11. Layout A: CSS Flexbox properties: display: flex, justify-content, and align-items. */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 12. Layout B: CSS Flexbox properties: display: flex, and flex-direction. */
.container {              
    display: flex;
    flex-direction: column; 
} 
 
/* 13. Layout C: CSS Flexbox properties: display: flex and align-items. */
.container {
    display: flex;
    align-items: center;
}

/* 14. Layout D: CSS Flexbox properties: display: flex and flex-wrap. */
.container {
    display: flex;
    flex-wrap: wrap;
}

/* 15. Layout E: CSS Flexbox properties: display: flex, flex-wrap, justify-content, and align-content. */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/* 16. Layout F: CSS Flexbox properties: display: flex, justify-content, and align-items. */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 17. Layout G: CSS Flexbox properties: display: flex and flex-direction. */
.container {
    display: flex;
    flex-direction: row-reverse;
}

/* 18. Layout H: CSS Flexbox properties: display: flex, flex-direction, align-items, and justify-content. */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* 19. Layout I: CSS Flexbox properties: display: flex */
.container {
    display: flex;
}

/* 20. Layout J: CSS flexbox properties: display: flex, flex-wrap, justify-content, and align-content. */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
}